
<script id="bucketSelectorItemTmpl" type="text/kendo-ui-template">
    # var itemClass = item.isRoot? "root_item" : "child_item"; #
    # itemClass += item.activated? "" : " suspended"; #
    # itemClass += item.deleted? " deleted" : ""; #

    <span id="bktSelector#= item.id #" class="tree_item #= itemClass #">
        <span class="name">#= item.name #</span>
    </span>
</script>

<div class="bucket_selector">
    <div class="bucket_tree top_box">
        <div class="search_bar">
            <input class="input" type="text" class="k-textbox">
        </div>
        <a href="javascript:bucketSelector.collapseFullTree()" class="k-button collapse" title="&{'collapse-all'}"></a>

        <div class="no_bucket_msg">&{'no-eligible-buckets'}</div>
        <div id="bucketSelectorTree"></div>
    </div>
    <div class="button_group">
        <a href="javascript:bucketSelector.close(false)" class="k-button select">&{'select'}</a> &nbsp;
        <a href="javascript:bucketSelector.close(true)" class="k-button cancel">&{'cancel'}</a>
    </div>
</div>

<script>

    $(function () {
        bucketSelector.generateTree("bucketSelectorTree");
    });

</script>