<div class="tab_content details_tab">
        <div id="passwordInfo" class="password_details">
            <div class="title">
                <span>&{'password-policy-information'}</span>
            </div>
			<span>&{'password-policy-description'}</span>
			<br/>
            <br/>
            
            <label for="minPassLength">&{'minimum-password-length'}</label>
            <span class="minPassLength"></span>
            <input type="number" id="minPassLength" name="minPassLength" required
                   validationMessage="&{'required'}" data-bind="value:minPassLength"
                   data-container-for="minPassLength">
            <br/>
            <br/>

            <label for="uppercaseRequired">&{'require-uppercase-letter'}</label>
            <span class="uppercaseRequired"></span>
            <input id="uppercaseRequired" name="uppercaseRequired" type="checkbox"
                   data-bind="checked:uppercaseRequired"
                   data-container-for="uppercaseRequired">
            <br/>
            <br/>

            <label for="lowercaseRequired">&{'require-lowercase-letter'}</label>
            <span class="lowercaseRequired"></span>
            <input id="lowercaseRequired" name="lowercaseRequired" type="checkbox"
                   data-bind="checked:lowercaseRequired"
                   data-container-for="lowercaseRequired">
            <br/>
            <br/>

            <label for="numbericRequired">&{'require-numberic'}</label>
            <span class="numbericRequired"></span>
            <input id="numbericRequired" name="numbericRequired" type="checkbox"
                   data-bind="checked:numbericRequired"
                   data-container-for="numbericRequired">
            <br/>
            <br/>

            <label for="specialCharRequired">&{'require-non-alphanumeric'}</label>
            <span class="specialCharRequired"></span>
            <input id="specialCharRequired" name="specialCharRequired" type="checkbox"
                   data-bind="checked:specialCharRequired"
                   data-container-for="specialCharRequired">
            <span id="specialCharacterInfo" class="help_icon"></span>
            <br/>
            <br/>

            <label for="enablePassExpiration">&{'enable-password-expiration'}</label>
            <span class="enablePassExpiration"></span>
            <input id="enablePassExpiration" name="enablePassExpiration" type="checkbox"
                   data-bind="checked:enablePassExpiration"
                   data-container-for="enablePassExpiration">
            <span id="passExpirationInfo" class="help_icon"></span>
            <br/>
            <div id="passExpirationNumberBox">
	            <label for="passExpirationDays" style="color: white;">&{'password-expiration-period'}</label>
	            <span class="passExpirationDays"></span>
	            <input type="number" id="passExpirationDays" name="passExpirationDays" required
	                   validationMessage="&{'required'}" data-bind="value:passExpirationDays"
	                   data-container-for="passExpirationDays">
	            <br/>
            </div>
			<br/>
            <label for="enablePassReuseCheck">&{'prevent-password-reuse'}</label>
            <span class="enablePassReuseCheck"></span>
            <input id="enablePassReuseCheck" name="enablePassReuseCheck" type="checkbox"
                   data-bind="checked:enablePassReuseCheck"
                   data-container-for="enablePassReuseCheck">
            <span id="preventPassReuseInfo" class="help_icon"></span>
            <br/>
            <div id="passReuseNumberBox">
	            <label for="passReuseCheckTimes" style="color: white;">&{'number-of-old-password-prevention'}</label>
	            <span class="passReuseCheckTimes"></span>
	            <input type="number" id="passReuseCheckTimes" name="passReuseCheckTimes" required
	                   validationMessage="&{'required'}" data-bind="value:passReuseCheckTimes"
	                   data-container-for="passReuseCheckTimes">
	            <br/>
            </div>
			<br/>
			<label for="firstLoginChangeRequired">&{'require-first-login-password-change'}</label>
            <span class="firstLoginChangeRequired"></span>
            <input id="firstLoginChangeRequired" name="firstLoginChangeRequired" type="checkbox"
                   data-bind="checked:firstLoginChangeRequired"
                   data-container-for="firstLoginChangeRequired">
            <br/>
            <br/>
            
            <div class="button_group">
                <a href="javascript:bucketManager.updateBucketPasswordPolicyInfo()"
                   class="k-button update">&{'update'}</a>
                <a href="javascript:bucketManager.cancelBucketPasswordPolicyInfo()"
                   class="k-button cancel">&{'cancel'}</a>
            </div>
        </div>

</div>