<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>&{'company-product-title'}</title>
    <meta name="description" content="&{'company-product-title'}"/>
    <meta name="keywords" content="KAI square,KUP,Platform"/>
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="${CdnPath}/common/style_all.css"/>
    <link rel="stylesheet" type="text/css" href="${CdnPath}/common/eula.css"/>
</head>

<body>
<style type="text/css">
    body{
        height: auto;
    }
</style>
<div id="content_black">
    <div style="margin: 13px auto; width: 50%;"><h5 id="goBackLink"><a href="#" style="color: #E67335;">&{'close-this-tab'}</a></h5></div>
    <div id="loginlayout">
        <h1>KAI Unified Platform EULA</h1><br/>

        <h2>End-User Licensing Agreement</h2>
        <h4>(Last modified December 18, 2016)</h4><br/>
                <span>
                    <p>
                        By using the KAI mobile, web applications and / or KAI devices (including all updates and
                        upgrades, referred to as the “Application(s)”), you are agreeing to be bound by the terms and
                        conditions that appear in this end user license agreement below (the “License”).
                    </p>
                </span><br/><br/>
                <span>
                    <h3>Introduction</h3>
                    <p>
                        References to “KAI Unified Platform”, “we” and “us” refer to KAI Square Pte. Ltd. (hereafter
                        referred as “KAI”) and include our affiliates. The Applications are owned by KAI. You are
                        permitted to use the Applications under license from us subject to compliance with these terms
                        and conditions of use. The Applications may also include materials owned by third parties by
                        virtue of a license, grant or some other form of agreement between the third party and KAI.
                    </p>
                </span><br/><br/>
                <span>
                    <h3>Acceptable Use of Applications</h3>
                    <p>
                        The use of mobile devices while operating motor vehicles is subject to generally applicable laws
                        governing transportation, occupational health and safety, and other rules and regulations, and
                        may result in charges, citations, fines or other legal proceedings. Such use may also expose you
                        to risk of accidents or death. The Applications should not be used while operating a vehicle. We
                        do not assume any liability or responsibility under this License or otherwise for any damages,
                        losses or other claims resulting from use of the Applications while driving a vehicle.
                    </p>
                </span><br/><br/>
                <span>
                    <h3>Acknowledgement and Acceptance of Location Based Information</h3>
                    <p>
                        By signing up for KAI Services or using the Applications, you acknowledge and consent to
                        the creation of GPS location information in the Applications through interaction between
                        mobile devices where our Applications are installed, our servers, and third party applications
                        and systems. We will use reasonable commercial efforts to ensure the accuracy of GPS and
                        other location based displays. However, since we are dependent on third party hardware,
                        software and services inputs we assume no liability or responsibility in the event of
                        inaccuracies in such information. Access to this information and / or functionality based on
                        such data is available to the user, account owner and KAI. Such information is currently
                        collected for: a) services to users and account owners that require the information and;
                        b) for our maintenance, enhancement and support of the Applications and these services.
                        While we use reasonable commercial efforts to safeguard such information, we assume
                        no liability or responsibility for losses resulting from illegal or fraudulent access
                        to this information. We also reserve the right to make such information available to auditors,
                        police and other governmental agencies as permitted or required by law, and to provide
                        such information to third parties, whether or not for compensation, in conjunction with
                        commercial agreements between us and them, provided that we shall take appropriate steps
                        we believe are necessary and commercially reasonable to safeguard the privacy of our users
                        and account owners. If you have any questions concerning our data collection and usage policies,
                        please contact customer service before using the Applications.
                    </p>
                </span><br/><br/>
                <span>
                    <h3>Acknowledgement and Acceptance of Collected Data Usage (Personal or Otherwise)</h3>
                    <p>
                        By signing up for KAI Services or using the Applications, you acknowledge and consent to
                        the use of information collected through your signing up and / or by the Applications.
                        Access to the information collected is available to the user and account owner upon
                        written request. Such information is currently collected for: a) services to users and
                        account owners that require the information and; b) for our maintenance, enhancement and
                        support of the Applications and these services. While we use reasonable commercial efforts
                        to safeguard such information, we assume no liability or responsibility for losses resulting
                        from illegal or fraudulent access to this information. We also reserve the right to make
                        such information available to auditors, police and other governmental agencies as permitted
                        or required by law, and to provide such information to third parties, whether or not
                        for compensation, in conjunction with commercial agreements between us and them,
                        provided that we shall take appropriate steps we believe are necessary and commercially
                        reasonable to safeguard the privacy of our users and account owners. If you have any questions
                        concerning our data collection and usage policies, please contact customer service before
                        using the Applications.
                    </p>
                </span><br/><br/>
                <span>
                    <h3>Network Charges</h3>
                    <p>
                        KAI is not responsible for your mobile phone, mobile network, or Internetconnections which are
                        each provided by your network provider under your separate contracts with them. Your network
                        provider will charge you for the data services you use to access the Applications. KAI is not
                        responsible for these data services which are provided to you by your network provider. Your
                        network provider may also have a fair use policy which will apply to your use of the
                        Applications. You should contact your network provider to find out about these charges and any
                        fair use policy before using the Applications. Your network provider may also charge you roaming
                        charges if you access the Applications outside of the country in which your mobile handset is
                        registered.
                    </p>
                </span><br/><br/>
                <span>
                    <h3>Trademarks and Logos</h3>
                    <p>
                        KAI and the KAI logo are trademarks of KAI SquarePte Ltd. These trademarks together with any
                        other owned by KAI may not be reproduced, used, modified or distributed without prior
                        permission.
                    </p>
                </span><br/><br/>
                <span>
                    <h3>Disclaimer of Warranties and Liability</h3>
                    <p>
                        While KAI does its best to ensure the optimum performance of the Applications, you agree that
                        you use the Applications and rely on content contained in the Applications at your own risk. KAI
                        may suspend the availability of the Applicationsto update the Applications or for any other
                        technical reasons.
                    </p>
                </span><br/><br/>
                <span>
                    <h3>No Warranties</h3>
                    <p>
                        KAI does not give any warranties in respect of the network, content, software or services used
                        in conjunction with the Applications. In particular, the Applications are provided on an “as
                        is”, “with all faults” and “as available” basis, with no representation as to accuracy,
                        availability or usability.
                        To the extent allowed by applicable law, KAI hereby disclaims all warranties, conditions or
                        duties of every nature whatsoever (except any duties of good faith), including without
                        limitation, any implied warranties of merchantability or of fitness for a particular purpose,
                        any express or statutory warranties, and any warranties or duties regarding accuracy,
                        timeliness, completeness, performance, lack or negligence or of workmanlike effort.
                        Additionally, KAI makes no warranty that the Applications are free from infection by viruses or
                        anything else that has contaminating or destructive properties.

                    </p>
                </span><br/><br/>
                <span>
                    <h3>No Incidental or Consequential Damages</h3>
                    <p>
                        To the full extent allowed by applicable law, you agree that KAI will not be liable to you and /
                        or any third party for any consequential or incidental damages (including but not limited to
                        lost profits, loss of privacy or for failure to meet any duty including but not limited to any
                        duty of good faith, lack or negligence or lack of workmanlike effort) or for any other indirect,
                        special, or punitive damages whatsoever that arise out of or are related to the Applications or
                        their content or to any breach of the terms of this License by KAI, even if KAI has been advised
                        of the possibility of such damages and even in the event of fault, tort (including negligence)
                        or strict liability.
                    </p>
                </span><br/><br/>
                <span>
                    <h3>Limitation on Damages; Exclusive Remedies</h3>
                    <p>
                        You agree that your only recovery for any damages that you incur, and your exclusive remedy,
                        shall be limited to the direct damages you actually incur in reasonable reliance on the
                        Applications up to a limit of the following, at KAI's election: (1) a refund of the amount you
                        paid (if any) in total during the month in which the damage is first incurred, less any
                        reasonable allowance for complying services, or (2) correction or replacement of the
                        Applications. All limitations will apply to all legal and equitable theories.
                    </p>
                </span><br/><br/>
                <span>
                    <h3>Indemnity</h3>
                    <p>
                        You agree to indemnify and hold KAI (including its affiliates, and their respective directors,
                        officers, agents, employees, partners and other licensees) harmless from any claim or demand,
                        including reasonable legal fees, made by any third party due to or arising out of your use of
                        the Applications, your connection to the Applications, your violation of this License, or your
                        violation of any rights of another.
                    </p>
                </span><br/><br/>
                <span>
                    <h3>Links</h3>
                    <p>
                        The Applications contain links to other websites and applications provided by independent third
                        parties (“Third Party sites”). Where possible, KAI will make clear where such links are being
                        made, though Third Party sites may be co-branded with KAI and so include KAI trademark. KAI is
                        not responsible for the availability or content of Third Party sites and will not be a party to,
                        or in any way responsible for, any transaction concerning goods or services available from such
                        Third Party sites.
                    </p>
                </span><br/><br/>
                <span>
                    <h3>Changes to License</h3>
                    <p>
                        Due to its policy of updating and improving the Applications, KAI may wish to change these terms
                        (including those relating to your use of the content). KAI reserves the right to modify these
                        terms through the update of the License without notice at any time. It is therefore important
                        that you read this document regularly to ensure you are updated as to any changes. To the extent
                        that such changes are reflected in any modification to the License published with any upgrade or
                        update to the Applications you will be deemed to have accepted these modified terms at the time
                        of acceptance and use of such update or upgrade to the Applications.
                    </p>
                </span><br/><br/>
                <span>
                    <h3>Termination</h3>
                    <p>
                        KAI reserves the right to immediately terminate your use of, or access to, the Applications at
                        any time, subject to reseller Terms & Conditions.
                    </p>
                </span><br/><br/>
                <span>
                    <h3>Advertising and Sponsorship</h3>
                    <p>
                        The Applications may contain, incorporate or integrate with external providers of advertising,
                        sponsorship and other digital media assets, which may only be made available for the viewing of
                        some users. The providers and publishers of such content are responsible for ensuring that
                        material submitted for inclusion on the network complies with international and national law.
                        KAI will not be responsible to you or any other person for any claim relating to the content of
                        or for any error or inaccuracy in any digital material displayed within or in association with
                        the Applications.
                    </p>
                </span><br/><br/>
                <span>
                    <h3>Privacy Policy</h3>
                    <p>
                        Any information you provide about yourself to KAI will only be used by KAI in accordance with
                        our privacy policy. However, we have no ability to control and assume no responsibility or
                        liability for the use of information where our users have elected to provide such information to
                        third parties through our Applications. Reference should be made to the terms and conditions of
                        use at their sites.
                    </p>
                </span><br/><br/>
                <span>
                    <h3>Country of Jurisdiction</h3>
                    <p>
                        This License will be governed by Singapore law. You irrevocably submit to the jurisdiction of
                        the courts of Singapore and acknowledge their exclusive jurisdiction to settle any dispute which
                        may arise out of, under, or in connection with this License or the legal relationship
                        established between us by it.
                    </p>
                </span><br/><br/>
                <span>
                    <h3>General</h3>
                    <p>
                        Subject to reseller Terms & Conditions, you may not assign, sub-license or otherwise transfer
                        any of your rights under this License or your rights to access and use the Applications.

                        If any provision of this License is found to be invalid by any court having competent
                        jurisdiction, the invalidity of that provision will not affect the validity of the remaining
                        provisions of this License, which shall remain in full force and effect.

                        Any waiver of the provisions of this License by KAI must be in writing. Failure by either party
                        to exercise any right or remedy under this License does not constitute a waiver of that right or
                        remedy.

                        Headings in these terms are for convenience only and will have no legal meaning or effect.

                        If you are prohibited under applicable law from using the Applications, you may not use them.

                        If you breach the License restrictions, or otherwise exceed the scope of thisLicense granted
                        herein, you may be subject to prosecution and damages, as well as liability for infringement of
                        intellectual property rights.

                    </p>
                </span><br/><br/>
                <span>
                    <h3>Other Clauses</h3>
                    <p>
                        In accepting and using the subscription, you also agree that you will not (a) send or otherwise
                        post unauthorized commercial communications (such as spam); (b) collect users’ content or
                        information, or otherwise access the Applications, using automated means (such as harvesting
                        bots, robots, spiders, or scrapers) without our permission; (c) engage in unlawful multi-level
                        marketing, such as a pyramid scheme, on the Applications; (d) upload viruses or other malicious
                        code; (e) solicit login information or access an account belonging to someone else; (f) bully,
                        intimidate, or harass any user; (g) post content that: is hateful, threatening, or pornographic;
                        incites violence; or contains nudity or graphic or gratuitous violence; (h) violate our
                        guidelines and all applicable laws if you publicize or offer any contest, giveaway, or
                        sweepstakes (“promotion”) on the Applications; (i) use the Applications to do anything unlawful,
                        misleading, malicious, or discriminatory; (j) do anything that could disable, overburden, or
                        impair the proper working of the Applications, such as a denial of service attack; (k)
                        reverse-engineer, replicate, copy or otherwise misappropriate the applications or the service,
                        whether or not for value or gain, or attempt to do so; (l) facilitate or encourage any
                        violations of these terms of use by any other person.
                    </p>
                </span><br/><br/>
    </div>
    <div id="footer">
    #{include HtmlPath + '/common/partial/footer.html'/}
    </div>
</div>
    <script type="text/javascript" src="${CdnPath}/../javascripts/jquery-1.8.3.min.js"></script>
    <script>
        $(document).on("click","#goBackLink", function(){
            window.close();
        })
    </script>
</body>

</html>