<link rel="stylesheet" href="/public/javascripts/scheduletask/schedule_task_action.css"/>
<script src="/public/javascripts/scheduletask/schedule_task_action.js"></script>

<div class="schedule_task_container">
    <div class="sub_container">
        <label for="scheduleTime">&{'scheduled-time'}:</label>
        <input id="scheduleTime" class="scheduleTime"/>
    </div>

    <div class="sub_container tree_chart">
        <input id="searchNode" class="k-textbox" placeholder="&{'search'}" />
        <div id="bucketDvcTree"></div>
    </div>
</div>

<div class="button_group">
    <a href="javascript:addScheduleTaskMng.addNew()" class="k-button">&{'add'}</a> &nbsp;
    <a href="javascript:addScheduleTaskMng.close()" class="k-button">&{'cancel'}</a>
</div>

<script>
    var addScheduleTaskMng = new ScheduleTaskManager("bucketDvcTree", "searchNode");
    $(function ()
    {
        addScheduleTaskMng.generate();
    });
</script>