<style>
    #infoBox ul {
        list-style: none;
        /*margin: 5px;*/
        padding: 0;
    }

    #infoBox li {
        height: 40px;
    }

    #infoBox ul label {
        margin-top: 4px;
        /*font-size: 11px;*/
        display: inline-block;
        vertical-align: top;
        width: 80px;
        padding: 0 8px;
        text-align: right;
        /*color: #434343;*/
    }

    .float_address_box {
        position: absolute;
        right: 50px;
        top: 3px;
        box-shadow: 0px 0px 5px #888888;
        background: #a8a8a7;
    }

    div {
        color:#000000;
    }

</style>

<div id="poiViewSpitter" style="margin-right: 1px; height: 481px; width: 823px;">
    <div id="poiMapSpitter">
        <div id="map-view" style="height: 480px"></div>
        <div class="float_address_box">
            <input id="searchTextField" type="text" class="k-input k-textbox"
                   placeholder="Search a location"
                   style="width:400px;">
        </div>
    </div>
    <div id="infoBox">
        <ul style="height: 85%; margin-top: 11px;">
            <li>
                <label for="name">&{'name'}</label>
                <input type="text" id="name" class="k-textbox" data-bind="value:name" required maxlength = '50'/>
            </li>
            <li>
                <label for="typeList">&{'type'}</label>
                <input id="typeList" data-bind="value:type"/>
            </li>
            <li>
                <label for="latitude">&{'latitude'}</label>
                <input type="number" id="latitude" data-bind="value:latitude" required/>
            </li>
            <li>
                <label for="longitude">&{'longitude'}</label>
                <input type="number" id="longitude" data-bind="value:longitude" required/>
            </li>
            <li>
                <label for="address">&{'address'}</label>
                <input type="text" id="address" class="k-textbox" data-bind="value:address" maxlength = '100'/>
            </li>
            <li>
                <label for="description">&{'description'}</label>
                <textarea type="text" class="k-textbox" id="description"
                          style="height: 100px; vertical-align: top; margin-top: 0px"
                          data-bind="value:description"></textarea>
            </li>
        </ul>

        <div align="center">
            <a id="btnUpdate" href="#" class="k-button">&{'update'}</a> &nbsp;
            <a id="btnCancel" href="#" class="k-button">&{'cancel'}</a>
        </div>
    </div>
</div>

<script>

    var currentMarker = null;
    var viewModel = null;


    $(function () {

        viewModel = kendo.observable({
            id: "${targetPoi._id}",
            name: "${targetPoi.name}",
            type: "${targetPoi.type}",
            description: "${targetPoi.description}",
            address: "${targetPoi.address}",
            latitude: "${targetPoi.latitude}",
            longitude: "${targetPoi.longitude}"
        });

        kendo.bind($("#infoBox"), viewModel);

        var validator = $("#infoBox").kendoValidator({
            validateOnBlur: false
        }).data("kendoValidator");

        $("#poiViewSpitter").kendoSplitter({
            orientation: "Horizontal",
            panes: [
                { collapsible: false, resizable: false},
                { collapsible: false, resizable: false, size: "260px"}
            ]
        }).data("kendoSplitter");

        $("#typeList").kendoDropDownList({
        	dataTextField: "text",
            dataValueField: "value",
            dataSource: poiTypes,
            change: function (e) {
                var selectedType = $("#typeList").data("kendoDropDownList").dataItem(e.sender.selectedIndex);
                viewModel.set("type", selectedType.text);
                if(currentMarker != null){
	                currentMarker.setIcon(mapIcons[selectedType.value]);
	                mapManager.updateMarker(currentMarker);
                }
            }
        });

        $("#typeList").data("kendoDropDownList").select(function (dataItem) {
            return dataItem == viewModel.type;
        });

        $("#latitude").kendoNumericTextBox({
            format: "n4",
            decimals: 4
        })

        $("#longitude").kendoNumericTextBox({
            format: "n4",
            decimals: 4
        })

        $("#btnUpdate").click(function () {

            if (validator.validate()) {

                viewModel.latitude = $("#latitude").val();
                viewModel.longitude = $("#longitude").val();
                viewModel.description = utils.removeLineBreaks(viewModel.description);

                updatePoi("", viewModel, function (responseData) {
                    if (responseData.result == "ok") {
                        utils.slideDownInfo("&{'poi-updated'}");
                        closePopupWindow();
                    }
                    else {
                        utils.popupAlert(responseData.reason);
                    }
                }, null);
            }
        });

        $("#btnCancel").click(function () {
            closePopupWindow();
        });

        function closePopupWindow() {
            $("#btnCancel").closest(".k-window-content").data("kendoWindow").close();
        };
		if(typeof mapManager != "undefined"){
	        mapManager.initialize("map-view", viewModel.latitude, viewModel.longitude, MAP_FOCUSED_ZOOM, false, false, true, function () {
	            mapManager.addMapEventListener("click", onMapClicked);
	            mapManager.addAutoCompleteSearchListener("searchTextField");
	            currentMarker = mapManager.addNewMarker(9999, 0, viewModel.latitude, viewModel.longitude, mapIcons[viewModel.type]);
	        });
		}
    });

    function onMapClicked(event) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();

        $("#latitude").data("kendoNumericTextBox").value(lat);
        $("#longitude").data("kendoNumericTextBox").value(lng);

        currentMarker.setPosition(event.latLng);
        mapManager.updateMarker(currentMarker);
    }

</script>