
body {
  font-family: "muli", Arial, Helvetica, sans-serif;
  font-size: 12px;
}
body h1 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.05em;
  font-weight: normal;
  font-style: normal;
  color: #8c8c8c;
  margin: 0;
  padding: 0 0 7px 0;
  text-align: left;
}
body .ui.popup {
  z-index: 9999;
  color: #ffffff;
  font-size: 10px;
  padding: 0.25em 0.45em !important;
  background: #000000;
  border: 1px solid #ffffff;
  opacity: .8;
}
body .ui.popup:before {
  margin-left: -0.325em;
  top: -0.325em;
  left: 50%;
  right: auto;
  bottom: auto;
  box-shadow: -1px -1px 0 0 #b3b3b3;
  background: #000000;
}
