*{#{extends HtmlPath + '/common/templates/iframe_popup.html'/}}*

<div style="font-size: 12px;font-family: verdana;">
    <div id="roleForm" class="kup-form-box" class="k-content">
        <div class="k-edit-label"><label for="name">&{'name'} :</label></div>
        <div class="k-edit-field" data-container-for="name">
            <input type="text" class="k-input k-textbox" name="name" style="width: 170px"
                   required validationMessage="&{'required'}"
                   data-bind="value:name" maxlength = '100'>
        </div>

        <div class="k-edit-label"><label for="description">&{'description'} :</label></div>
        <div class="k-edit-field" data-container-for="description">
            <textarea type="text" class="k-textbox" name="description"
                      style="width: 170px;height: 100px; vertical-align: top; margin-top: -4px"
                      data-bind="value:description"
                    placeholder=""></textarea>
        </div>
    </div>

    <div align="center">
        <a id="btnCreate" href="#" class="k-button">&{'create'}</a> &nbsp;
        <a id="btnCancel" href="#" class="k-button">&{'cancel'}</a>
    </div>
</div>


<script type="text/javascript">
    $(function () {

        var viewModel = kendo.observable({
            "name": "",
            "description": ""
        });

        kendo.bind($("#roleForm"), viewModel);
        var validator = $("#roleForm").kendoValidator().data("kendoValidator");

        $("#btnCreate").click(function () {

            if (!validator.validate()) {
                return;
            }

            if ($("#name").val() == "") {
                utils.popupAlert("empty name");
                return;
            }

            viewModel.description = utils.removeLineBreaks(viewModel.description);
            addBucketRole("", viewModel.name, viewModel.description, function (responseData) {
                if (responseData.result == "ok") {
                    utils.slideDownInfo("&{'role-created'}");
                    window.parent.$("#roleGrid").data("kendoGrid").dataSource.read();
                    closePopupWindow();
                }
                else {
                    utils.throwServerError(responseData);
                }
            }, null);
        });

        $("#btnCancel").click(function () {
            closePopupWindow();
        });

        function closePopupWindow() {
            $("#btnCancel").closest(".k-window-content").data("kendoWindow").close();
        };
    });
</script>