<ul id="subMenu" class="toggle-panels ul-clear">
    <li class="toggle-bundle" data-category="people-counting-bundle">
        <a href="javascript:void(0)" class="parent is_active">
            <i class="icon arrow-left left"></i> 
            <i id="subMenuTitle" class="icon left"></i>
            ...        
        </a>

        <div class="search-f pos-r search-f-inputs clearfix">
            <input type="text" name="search" id="search-term" class="input-text w100 left" placeholder="Search">
            <span class="input-submit ir left"></span>
            <span id="deivceOptionsBtn" class="options" data-content="Options" data-variation="small"></span>
        </div>

        <div id="deivceOptions" class="deivceOptions">

            <h3>Options</h3>
            <ul class="control">
                <li>
                    <span class="name">Show active analytics only</span>                    
                    <div id="showVcaSwitch" class="ui toggle checkbox">
                    <input type="checkbox" name="public">
                    <label></label>
                    </div>

                </li>

            </ul>
            
        </div>

        <div id="deviceTree"></div>
    </li>
</ul>