<div id="kupWrapper" class="wrapper" ng-click="mainCtrl.fn.openReportsOptions()" ng-class="{true: 'toggled', false: ''}[mainCtrl.header.isWrapperToggled]"><header id="header" class="navbar-header" ng-include="'app/main/header.tmpl.html'"></header><div id="kupSidebar" class="sidebar nav-default navbar-left" ng-include="'app/main/navbar.tmpl.html'"></div><div class="container" id="kupContainer"><div ui-view></div><div cg-busy="mainCtrl.block.options" style="position:fixed;top:48px;z-index:999"></div></div><footer class="footer" ng-include="'app/main/footer.tmpl.html'"></footer></div><script type="text/ng-template" id="viewNotificationDetail.html"><div class="modal-header ng-scope">
        <button type="button" ng-click="close()" class="close">×</button>
        <h4 class="modal-title">
            <i class="navIcons" ng-show="getEventInfoByType(event.typeKey).class" ng-class="getEventInfoByType(event.typeKey).class"></i>
            {{getEventInfoByType(event.typeKey).text | translate}}
        </h4>
    </div>
    <div class="kupVideo" ng-show="event.eventVideoUrl" style="height:320px;">
        <div id="kupPlayer"></div>
    </div>
    <div class="modal-body">
        <div class="kupAlertContent">
            <!-- <h5>Here is the alert name title</h5> -->
            <div class="pull-left kupAlertInfo">
                <span><i class="kup-node"></i>{{event.detail.deviceInfo.name}}</span>
                <span><i class="fa fa-video-camera"></i>{{event.detail.cameraInfo.name}}</span>
                <span><i class="fa fa-map-marker"></i>{{event.detail.cameraInfo.address}}</span>
            </div>
            <span class="pull-right kupTime">{{event.eventLocalTime}} ({{event.eventDisplayTime}})</span>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default cancel" ng-click="close()">{{'close' | translate}}</a>
    </div></script><script type="text/ng-template" id="confirmModal.html"><div class="modal-header">
        <button type="button" ng-click="cancel()" class="close">×</button>
        <h4 class="modal-title">{{ title | translate }}</h4>
    </div>
    <div class="modal-body">
        {{ text | translate }}
    </div>
    <div class="modal-footer">
        <a class="btn btn-default cancel" ng-click="cancel();">{{'cancel' | translate}}</a>
        <a class="btn btn-warning" ng-click="yes();">{{'ok' | translate}}</a>
    </div></script>