<link rel="stylesheet" type="text/css" href="${CdnPath}/common/kendo/kendo.common.min.css"/>
<link rel="stylesheet" type="text/css" href="${CdnPath}/common/kendo/moonlight/kendo.ml.custom.css"/>
<link rel="stylesheet" type="text/css" href="${CdnPath}/common/kendo/kendo.dataviz.default.min.css"/>
<link rel="stylesheet" type="text/css" href="${CdnPath}/common/kendo/kendo.dataviz.min.css"/>
<link rel="stylesheet" type="text/css" href="${CdnPath}/common/jquery-ui-timepicker.css"/>
<link rel="stylesheet" type="text/css" href="${CdnPath}/common/jquery-ui-1.8.11.custom.css"/>

<script type="text/javascript" src="${CdnRootPath}/public/javascripts/kendo.all.min.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/jquery.progressbar.min.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/expander.js"></script>

