#{i18n /}

<script type="text/javascript" src="${CdnRootPath}/public/javascripts/_generated/backend.types.js"></script>

<script type="text/javascript" src="${CdnRootPath}/public/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/jquery.uniform.min.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/layout/main.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/layout/plugins.js"></script>
*{<script type="text/javascript" src="${CdnRootPath}/public/javascripts/layout/pace.min.js"></script>}*
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/flash_detect_min.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/d3/d3.v3.min.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/lodash.core.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/external/progressbar.min.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/external/keypress-2.1.4.min.js"></script>

<script type="text/javascript" src="${CdnRootPath}/public/javascripts/_generated/backend.types.js"></script>

<script type="text/javascript" src="${CdnRootPath}/public/javascripts/backend.util.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/localization.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/kupapi.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/kupapi-node.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/utils.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/manager.device.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/events.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/analyticsType.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/donotcustomize/dvcMgr.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/donotcustomize/labelMgr.js"></script>
<script type="text/javascript" src="${CdnRootPath}/public/javascripts/donotcustomize/vcaMgr.js"></script>
