<footer id="footer">
        <div class="footer-holder">
            <div class="footer-frame">
                <div class="container">
                    <div class="footer-info">
                        <div class="heading">
                            <span class="logo"><a href="http://www.kaisquare.com/" target="_blank">KAI</a></span>

                            <h3>Video Analytics as-a-Service</h3>
                        </div>
                        <p>
                            &{'footer-login-info-massage-1'} &{'footer-login-info-massage-2'}
                        </p>
                    </div>
                    <div class="bottom-info">
                        <ul class="social">
                            <li class="facebook"><a href="https://www.facebook.com/kaisquare" target="_blank">facebook</a></li>
                            <li class="youtube"><a href="https://www.youtube.com/watch?v=pm_Cm8m-CFk" target="_blank">youtube</a></li>
                        </ul>
                        <ul class="footer-list">
                            <!-- li><a href="#">Learn more</a></li -->
                            <li>
                                <a href="/${HtmlPath}/footer/index" target="_blank">
                                    Terms &amp; Privacy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- / container -->
            </div>
            <!-- / footer-frame -->
        </div>
        <!-- / footer-holder -->
    </footer>