<footer id="footer">
        <div class="footer-holder">
            <div class="footer-frame">
                <div class="container">
                    <div class="footer-info">
                        <div class="heading">
                            <span class="logo">KAI</span>

                            <h3>Video Analytics as-a-Service</h3>
                        </div>
                        <p>
                            &{'footer-login-info-massage-1'} &{'footer-login-info-massage-2'}
                        </p>
                    </div>
                    <div class="bottom-info">
                        <ul class="footer-list">
                            <li>
                                <a href="/${HtmlPath}/footer/index" target="_blank">
                                    Terms &amp; Privacy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- / container -->
            </div>
            <!-- / footer-frame -->
        </div>
        <!-- / footer-holder -->
    </footer>